<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify your email for [...]</title>
  </head>
  <body style="color: black; text-align: center; width: 100%;font-family: Arial;font-size: 13px;">
    <div style="width:600px;max-width:96%;margin:0 auto;border-radius:50px;border: 2px solid #e64722;background: #f1f1f1;text-align:center;">
      <div style="padding: 25px 80px;">
        <p style="margin: 16px 0;">
          <span style="vertical-align: middle;">Hello, {{name}}</span>
        </p>
        <p style="margin: 0 0 18px;">You registered an account on [...], before being able to use your account you need to verify that this is your email address by clicking the button below</p>
        <a href="{{url}}" style="display:inline-block;background: #f35b18;color:#fff;padding: 5px 33px;text-decoration: none;border-radius: 15px;line-height: 22px;">Verify</a>
      </div>
      <div style="padding: 25px 80px;"><p>This is a service message designed to keep you informed of important information associated with your [...] account. Please do not reply to this message. Replies to this message are not monitored. You can contact us online at <a href="[...]" target="_blank" >[...]</a></p></div>
    </div>
  </body>
</html>
