<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password reset request</title>
  </head>

  <body>
    <span>Hello, {{name}}</span>
    <br />
    <br />
    <span>We have received a request to reset the password for your account. Please click the button below to change your password.</span>
    <br />
    <br />
    <a href="{{url}}" target="_blank">Click here to reset your password</a>
    <br />
    <br />
    <span>If you didn’t make this request, don’t worry, just ignore this email. We’re here to help - if you need to speak to an expert, just get in touch.</span>
    <br />
    <br />
    <span>Email: [...]</span>
    <br />
    <br />
  </body>
  <footer>This is a service message designed to keep you informed of important information associated with your V-Space account. Please do not reply to this message. Replies to this message are not monitored. You can contact us online at: <a href="[...]" target="_blank">[...]</a></footer>
</html>
